.card {
	background-color: white;
	text-align: center;
	padding-top: 50px;
	margin-top: 80px;

}	
.ficha-producto {
	background-color:white;
}

div.card-deck {
	margin: 0 10px 0px 10px;
}

.prod-img {
	width:50%;
	margin-left:auto;
	margin-right:auto;
	align-items: center;
}