body {
	background-color: #EEEEEE;
  margin: 0
}
.nav {
  background: #2d0444de;

  
  margin-bottom: 0%;
  padding: 0 180px;
 
 
  position: fixed;
  z-index: 1;
  width: 100%;
  line-height: 60px;
}


.navbar-nav {
  padding-left: 100px; 
  
}

.logo {
  width:50px;
}
@media (max-width: 1000px) {
  .nav {
    padding: 0 10% 0 6%!important;
   
  } 
}
  
